# check that web services are running
define service {
        hostgroup_name                  http-servers
        service_description             HTTP
 	check_command                   check_http
        use                             generic-service
	notification_interval           0 ; set > 0 if you want to be renotified
}

# check that ssh services are running
define service {
        hostgroup_name                  ssh-servers
        service_description             SSH
	check_command                   check_ssh
        use                             generic-service
	notification_interval           0 ; set > 0 if you want to be renotified
}

define service {
        hostgroup_name                  remote-loads
        service_description             Remote Loads
        check_command                   check_nrpe_1arg!check_load
        use                             generic-service
        notification_interval           0
}

define service {
        hostgroup_name                  remote-disk1
        service_description             Remote Disk Check 1
        check_command                   check_nrpe_1arg!check_disk1
        use                             generic-service
        notification_interval           0
}
